<% events.forEach(function(event) {%>
  <div class="drList">
      <h3><%= event.practices[0].name %></h3>
      <p><%= event.practices[0].visit_address.street %></p>
      <p><%= event.practices[0].visit_address.city %></p>
      <p><%= event.practices[0].visit_address.state %></p>
      <p><%= event.practices[0].visit_address.zip %></p>
    
    <% event.specialties.forEach(function(specialty){%>
      <%=specialty.uid%>
    <%})%>
    <br>
    <form method="POST" action="/events/<%= event.id%>">
      <input type="hidden" name= "docId" value="<%= event.uid %>">
      <input type="Submit" value="Choose this Dr.">
      </form>
<% }) %>
  </div>
