<% events.forEach(function(event) {%>
  <div class="drList">
      <h3><%= event.practices[0].name %></h3>
      <p><%= event.practices[0].visit_address.street %></p>
      <p><%= event.practices[0].visit_address.city %></p>
      <p><%= event.practices[0].visit_address.state %></p>
      <p><%= event.practices[0].visit_address.zip %></p>
    
    <% event.specialties.forEach(function(specialty){%>
      <%=specialty.uid%>
    <%})%>
    <br>

      <input type="Submit" value="Choose this Dr.">
<% }) %>
  </div>
