<h1>Your notes:</h1>

<% notes.forEach(function(note) { %>
  <div class="note">
  <h2><a href="/events/<%= note.eventId %>"><%= note.content %></a></h2>
  <h2><a href="/notes/<%= note.id %>"><%= note.time %></a></h2>
  </div>
  <form method= "POST" action= "/notes/<%= note.id %>/?_method=DELETE">
<input type="Submit" value="DELETE">
</form>
  <% }); %>

  <hr />
  <a href="/notes/new">&larr; Create new Note</a>
  <a href="/profile">&larr; Back To Profile</a>